@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
  font-display: swap;
}
html {
  --dark-gray: #1e1f22;
  --almost-black: #1a1a1a;
  --gray-22: #222226;
  --gray-24: #242424;
  --gray-32: #323438;
  --gray-3a: #3a3a3a;
  --gray-3b: #3b3c3c;
  --gray-5a: #5a5a5c;
  --gray-7e: #7e7e80;
  --gray-be: #bebebf;
  --gray-cb: #cbc9c9;
  --gray-ef: #efefef;
  --gray-ec: #ecedf1;
  --gray-e0: #e0e0e0;
  --gray-87: rgba(255, 255, 255, .87);
  --gray-f9: #f9f9f9;
  --dark-transparent-gray: rgba(25, 25, 28, .7);
  --background-transparent-gray: rgba(30, 31, 34, .7);
  --semi-dark-transparent-gray: rgba(0, 0, 0, 0.32);
  --light-transparent-gray: rgba(255, 255, 255, 0.05);
  --light-dark-transparent-gray: rgba(0, 0, 0, 0.05);
  --background-light-transparent-gray: rgba(255, 255, 255, .7);
  --light-white: #f3f3f3;
  --white: #fff;
  --black: #000;
  --blue: #3890fa;
  --dark-blue: #0969da;
  --light-salat-green: #AFBF7E;
  --light-green: rgb(77, 187, 95);
  --dark-transparent-green: rgba(77, 187, 95, 0.2);
  --orange: rgb(244, 92, 75);
  --dark-transparent-orange: rgba(244, 92, 74, 0.2);
  --brand-color: #ff6b00;
  --brand-color-dark: #cc5307;
}

html {
  --main-color: var(--white);
  --background-color: var(--main-color);
  --border-color: var(--gray-e0);
  --divider-color: var(--gray-e0);
  --text-color: var(--black);
  --secondary-color: var(--gray-7e);
  --scrollbar-thumb-color: var(--gray-ef);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-light-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--gray-f9);
  --aside-link-text-color: var(--gray-5a);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-f9);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--white);
  --block-code-border-color: var(--gray-ec);
  --block-code-text-color: var(--black);
  --blockquote-text-color: var(--dark-transparent-gray);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-dark-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-5a);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-ec);
  --keyword-color: #0033b3;
  --comment-color: #8c8c8c;
  --number-color: #1750eb;
  --string-color: #067d17;
  --search-button-background-color: var(--gray-f9);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-7e);
  --search-input-placeholder-color: var(--gray-be);
  --search-labels-text-color: var(--gray-7e);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-7e);
  --search-result-footer-hint-key-background-color: var(--gray-ef);
  --search-result-footer-hint-keytext-color: var(--gray-3b);
  --symbol-ref-link-color: var(--brand-color-dark);
  --symbol-ref-underline: none;
  --symbol-ref-hover-color: var(--symbol-ref-link-color);
  --module-ref-link-color: var(--brand-color-dark);
  --playground-header-background-color: var(--white);
  --tools-background-color: var(--white);
}

html[data-theme=dark] {
  --main-color: var(--dark-gray);
  --background-color: var(--main-color);
  --border-color: var(--gray-3a);
  --divider-color: var(--gray-3a);
  --text-color: var(--gray-87);
  --secondary-color: var(--gray-be);
  --scrollbar-thumb-color: var(--gray-32);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--almost-black);
  --aside-link-text-color: var(--gray-be);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-3b);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--almost-black);
  --block-code-border-color: var(--gray-32);
  --block-code-text-color: var(--gray-be);
  --blockquote-text-color: var(--gray-be);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-be);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-32);
  --search-button-background-color: var(--almost-black);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-be);
  --search-input-placeholder-color: var(--gray-5a);
  --search-labels-text-color: var(--gray-5a);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-5a);
  --search-result-footer-hint-key-background-color: var(--gray-22);
  --search-result-footer-hint-keytext-color: var(--gray-be);
  --keyword-color: #cc7832;
  --comment-color: gray;
  --number-color: #2AACB8;
  --string-color: #6AAB73;
  --symbol-ref-link-color: var(--keyword-color);
  --symbol-ref-underline: underline;
  --symbol-ref-hover-color: var(--keyword-color);
  --module-ref-link-color: var(--light-salat-green);
  --playground-header-background-color: var(--gray-24);
  --tools-background-color: var(--dark-gray);
}

.close-button {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.close-button:hover {
  background-color: var(--button-hover-background-color);
}
.close-button:hover:active {
  background-color: var(--button-hover-background-color);
}
.close-button svg {
  width: 100%;
  height: 100%;
}
.close-button svg .icon-stroke {
  stroke: var(--text-color);
}

html {
  --sub-menu-border-color: none;
}

html[data-theme=dark] {
  --sub-menu-border-color: var(--border-color);
}

.header-component.underline header {
  border-bottom: 1px solid var(--divider-color);
}
.header-component.fixed header {
  position: fixed;
  top: 0;
  left: 0;
}
.header-component.transparent-desktop header {
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--header-transparent-background-color);
}
@media (max-width: 1000px) {
  .header-component.transparent-desktop header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
.header-component.no-change-theme .change-theme {
  display: none !important;
}
.header-component.no-change-theme .main-header-list .navigation-item:nth-last-child(-n+2) {
  margin-right: 0 !important;
}
.header-component.no-search-button .header-container button.search {
  display: none !important;
}
.header-component.with-button-before-logo .header-container {
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 10px;
}
.header-component.with-button-before-logo .mobile-header-list-before-logo {
  display: block;
}
@media (min-width: 1000px) {
  .header-component.with-search-desktop .search-container {
    display: block;
  }
  .header-component.with-search-desktop .header-container {
    grid-template-columns: 320px auto max-content;
    grid-column-gap: 10px;
  }
}
@media (min-width: 1000px) {
  .header-component.search-desktop-after-logo .search-container {
    margin-left: 30px;
  }
  .header-component.search-desktop-after-logo .header-container {
    grid-template-columns: max-content auto max-content;
    grid-column-gap: 10px;
  }
}

header {
  height: 70px;
  width: 100%;
  z-index: 997;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid var(--header-background-color);
  background: var(--header-background-color);
}
@media (max-width: 1000px) {
  header {
    width: 100vw;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
header .header-container {
  padding: 0 50px;
  height: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container {
    padding: 0 20px;
  }
}
header .header-container .logo {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
}
@media (max-width: 1000px) {
  header .header-container .logo {
    display: none;
  }
}
header .header-container .logo a {
  display: grid;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .logo span {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .logo .separator {
  margin-left: 2px;
  margin-right: 7px;
}
header .header-container .logo img {
  width: 25px;
}
header .header-container .search-container {
  display: none;
}
header .header-container .search-container .search-button {
  padding: 10px 20px 10px 17px;
  background-color: var(--search-button-background-color);
  border: 1px solid var(--search-button-background-color);
  outline: none;
  border-radius: 8px;
  color: var(--search-button-text-color);
  transition: border-color 0.25s;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
}
header .header-container .search-container .search-button:hover {
  cursor: pointer;
  border: 1px solid var(--search-button-hover-border-color);
}
header .header-container .search-container .search-button .search-icon {
  margin-right: 5px;
}
header .header-container .search-container .search-button .search-icon svg {
  display: block;
  width: 20px;
  height: 20px;
}
header .header-container .search-container .search-button .search-icon .icon-stroke {
  stroke: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-icon .icon-data {
  fill: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-label {
  margin-right: 10px;
}
header .header-container .search-container .search-button .shortcut {
  font-size: 12px;
  padding: 3px 5px 3px;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
}
header .header-container .mobile-header-logo {
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
  display: none;
}
@media (max-width: 1000px) {
  header .header-container .mobile-header-logo {
    display: grid;
  }
}
header .header-container .mobile-header-logo a {
  display: grid;
  align-items: center;
}
header .header-container .mobile-header-logo span.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .mobile-header-logo a.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .mobile-header-logo img {
  width: 30px;
}
header .header-container ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  justify-self: end;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container ul.main-header-list {
    display: none;
  }
}
header .header-container ul.main-header-list .change-theme {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .header-container ul.main-header-list .change-theme:active:hover svg {
  width: 88%;
}
header .header-container ul.main-header-list .change-theme:hover {
  cursor: pointer;
}
header .header-container ul.main-header-list .change-theme:hover svg path {
  fill: var(--secondary-color);
}
header .header-container ul.main-header-list .change-theme svg {
  width: 18px;
  height: 18px;
}
header .header-container ul.main-header-list .change-theme svg path {
  fill: var(--text-color);
}
header .header-container ul.main-header-list li {
  margin: 0 10px;
}
@media (min-width: 1000px) {
  header .header-container .mobile-header-list {
    display: none;
  }
}
header .header-container .mobile-header-list.mobile-header-list-before-logo {
  display: none;
}
header .header-container .mobile-header-list button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 0 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
}
header .header-container .mobile-header-list button:active:hover {
  background-color: var(--button-hover-background-color);
}
header .header-container .mobile-header-list button svg {
  width: 100%;
  height: 100%;
}
header .header-container .mobile-header-list button svg .icon-data {
  fill: var(--text-color);
}
header .header-container .mobile-header-list button svg .icon-stroke {
  stroke: var(--text-color);
}

li.navigation-item {
  position: relative;
}
li.navigation-item a, li.navigation-item span {
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item a:hover, li.navigation-item span:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item a:hover.with-icon svg .icon-data, li.navigation-item span:hover.with-icon svg .icon-data {
  fill: var(--text-color);
}
li.navigation-item a.active, li.navigation-item span.active {
  color: var(--brand-color);
}
li.navigation-item a.with-icon, li.navigation-item span.with-icon {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 4px;
  align-items: center;
}
@media (max-width: 1000px) {
  li.navigation-item a.with-icon, li.navigation-item span.with-icon {
    margin-left: -20px;
  }
}
li.navigation-item a.with-icon svg, li.navigation-item span.with-icon svg {
  width: 13px;
}
li.navigation-item a.with-icon svg .icon-data, li.navigation-item span.with-icon svg .icon-data {
  fill: var(--secondary-color);
}
li.navigation-item.with-items ul.sub-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  padding: 12px 40px 12px 18px;
  margin: 0;
  list-style: none;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--background-color);
  border: 1px solid var(--sub-menu-border-color);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transform: translateY(10px);
}
li.navigation-item.with-items ul.sub-menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}
li.navigation-item.with-items ul.sub-menu li {
  margin: 0;
  padding: 0 0 6px;
}
li.navigation-item.with-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
li.navigation-item.with-items ul.sub-menu li a {
  user-input: none;
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item.with-items ul.sub-menu li a:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item.with-items ul.sub-menu li a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px 15px 30px 40px;
  background-color: var(--aside-background-color);
  z-index: 1000;
  transform: translateX(100%);
  transition: opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
aside.mobile-header-aside.open {
  transform: translateX(0);
}
aside.mobile-header-aside .close-button-wrapper {
  display: grid;
  justify-items: end;
}
aside.mobile-header-aside ul.aside-navigation {
  padding: 10px 100px 0 0;
  margin: 0;
  list-style: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item {
  margin: 10px 0;
  font-size: 16px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu {
  margin: 10px 0;
  list-style: none;
  padding-left: 20px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li {
  padding: 0 0 10px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item span.with-icon {
  grid-column-gap: 6px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a {
  color: var(--secondary-color);
  text-decoration: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a:hover {
  cursor: pointer;
  color: var(--text-color);
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside.open + .header-mobile-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

.header-mobile-overlay, .search-overlay {
  display: block;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-window {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}
.search-window.open {
  display: grid;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.search-window .search-form {
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
  grid-row-gap: 10px;
  pointer-events: all;
  width: 550px;
  height: max-content;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--divider-color);
  margin: 75px auto 0;
  padding: 10px 10px 0;
  background-color: var(--aside-background-color);
}
@media (max-width: 1000px) {
  .search-window .search-form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    border: none;
    grid-template-rows: max-content max-content auto;
  }
}
.search-window .search-form .search-header {
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header {
    grid-template-columns: auto max-content;
    grid-column-gap: 20px;
    align-items: center;
  }
}
.search-window .search-form .search-header .close-search-button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header .close-search-button {
    display: block;
  }
}
.search-window .search-form .search-input {
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  padding: 0 15px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto max-content;
}
.search-window .search-form .search-input label .icon svg {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}
.search-window .search-form .search-input label .icon svg .icon-stroke {
  stroke: var(--search-button-text-color);
}
.search-window .search-form .search-input label .icon svg .icon-data {
  fill: var(--search-button-text-color);
}
.search-window .search-form .search-input input {
  width: 100%;
  height: 40px;
  padding: 30px 20px 30px 10px;
  outline: none;
  border: none;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--input-background-color);
}
.search-window .search-form .search-input input::placeholder {
  color: var(--search-input-placeholder-color);
}
.search-window .search-form .search-input .clear-input {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
}
.search-window .search-form .search-input .clear-input.show {
  display: block;
}
.search-window .search-form .search-place {
  display: flex;
  align-items: center;
}
.search-window .search-form .search-place .search-in-label {
  font-size: 13px;
  color: var(--search-labels-text-color);
  margin-right: 20px;
}
.search-window .search-form .search-place ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-place ul {
    column-gap: 10px;
  }
}
.search-window .search-form .search-place ul li.search-place-item input {
  display: none;
}
.search-window .search-form .search-place ul li.search-place-item input:checked + label {
  border-bottom: 2px solid var(--brand-color);
}
.search-window .search-form .search-place ul li.search-place-item label:hover {
  cursor: pointer;
}
.search-window .search-form .search-results {
  height: 100%;
  max-height: 483px;
  overflow-y: scroll;
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-results {
    max-height: 100%;
  }
}
.search-window .search-form .search-results.no-results-found {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.no-results-found .no-results-found {
  display: block;
}
.search-window .search-form .search-results.no-results-found .search-results-list {
  display: none;
}
.search-window .search-form .search-results.with-caption {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.with-caption .caption {
  display: block;
}
.search-window .search-form .search-results.with-caption .search-results-list {
  display: none;
}
.search-window .search-form .search-results .search-results-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-window .search-form .search-results .search-results-list .search-result[aria-selected=true] .search-result-content {
  border: 1px dashed var(--search-result-active-background-color);
  color: var(--search-result-active-text-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 5px;
  align-items: center;
  padding: 20px 20px 20px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content:hover {
  cursor: pointer;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-icon svg path {
  stroke: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper {
  display: grid;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .search-highlight {
  font-weight: 600;
  color: var(--brand-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .description {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}
.search-window .search-form .search-results .caption {
  display: none;
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: var(--secondary-color);
}
.search-window .search-form .search-results .caption .search-sentence {
  font-weight: 600;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-footer {
    display: none;
  }
}
.search-window .search-form .search-footer .search-footer-content {
  padding: 0 5px;
}
.search-window .search-form .search-footer .search-footer-content .search-hints {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 15px;
  align-items: center;
  margin: 10px 0;
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint {
  font-size: 13px;
  color: var(--search-result-footer-hint-text-color);
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint .search-key {
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 3px;
  background-color: var(--search-result-footer-hint-key-background-color);
  color: var(--search-result-footer-hint-keytext-color);
}

.search-window.open + .search-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

footer {
  width: 100%;
  padding: 50px 50px 80px;
  margin-top: 30px;
  background-color: var(--footer-background-color);
}
footer.underline {
  border-top: 1px solid var(--border-color);
}
@media (max-width: 1000px) {
  footer {
    padding: 40px 30px 50px;
  }
}
footer .footer-container {
  margin: 0 auto;
  font-size: 14px;
}
footer .footer-container nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 50px;
}
@media (max-width: 650px) {
  footer .footer-container nav {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}
footer .footer-container nav .column .title {
  font-weight: 600;
  margin-bottom: 20px;
}
footer .footer-container nav .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 10px;
  row-gap: 10px;
}
footer .footer-container nav .column ul li {
  margin-bottom: 8px;
}
footer .footer-container nav .column ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 14px;
}
footer .footer-container nav .column ul li a:hover {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}
footer .footer-container .footer-bottom {
  padding-top: 30px;
  border-top: 1px solid var(--border-color);
}
footer .footer-container .footer-bottom .social-links {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  column-gap: 5px;
}
footer .footer-container .footer-bottom .social-links a {
  font-size: 12px;
  margin-right: 10px;
}
footer .footer-container .footer-bottom .social-links a:hover svg path {
  fill: var(--brand-color);
}
footer .footer-container .footer-bottom .social-links a svg path {
  fill: var(--secondary-color);
}
footer .footer-container .footer-bottom .copyright-line {
  margin-bottom: 0;
  font-size: 12px;
  color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

html {
  --dark-background: #1e1f22;
  --max-width: 1400px;
}

body {
  margin: 0 0 0 0;
  padding: 0;
  font: 400 16px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  color: #19191C;
}

.header-component {
  color: var(--text-color);
}
.header-component header .header-container {
  max-width: min(var(--max-width), 100vw);
  margin: 0 auto;
}
.header-component header .sub-menu {
  z-index: 100;
}

footer {
  color: var(--text-color);
  padding: 0;
}
footer .footer-container {
  max-width: min(var(--max-width), 100vw);
  margin: 0 auto;
  padding: 50px 50px 80px;
}
@media only screen and (max-width: 600px) {
  footer .footer-container {
    padding: 50px 15px 80px;
  }
}

a {
  color: #6A6B6E;
  text-decoration: none;
}
a:hover {
  color: #167DFF;
}

.blockquote {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-column-gap: 15px;
  box-sizing: border-box;
  margin: 20px 0 30px;
  padding: 16px;
  border-radius: 6px;
  background-color: #def2e0;
  color: rgba(0, 0, 0, 0.54);
}
.blockquote .prompt__icon {
  width: 24px;
  height: 24px;
  fill: #4dbb5f;
}

.sub-header {
  min-height: 70px;
  border-bottom: 1px solid #cccbcb;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  display: grid;
  align-content: center;
}
.sub-header .header__inner {
  min-width: min(var(--max-width), 100vw);
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content auto;
  position: relative;
  z-index: 12;
}
@media only screen and (max-width: 600px) {
  .sub-header .header__inner {
    padding: 0 15px;
    grid-template-columns: auto max-content;
  }
}
@media only screen and (max-width: 800px) {
  .sub-header .header__inner .header__github-link {
    display: none !important;
  }
}
.sub-header .header__title {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 25px;
  line-height: 56px;
  color: #19191C;
}
@media only screen and (max-width: 600px) {
  .sub-header .header__title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 4px;
  }
}
.sub-header .header__navbar {
  display: grid;
  justify-self: end;
}
@media only screen and (max-width: 600px) {
  .sub-header .header__navbar {
    justify-self: center;
  }
}
.sub-header .header__navbar .social-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  align-self: center;
}
.sub-header .header__navbar .social-links a {
  margin-top: 5px;
  line-height: 1;
}
.sub-header .header__navbar .social-links a svg {
  width: 20px;
}
.sub-header .header__navbar .social-links a path {
  fill: var(--almost-black);
}
.sub-header .header__navbar .social-links a:hover path {
  fill: #167DFF;
}
.sub-header .header__navbar .header__links {
  list-style: none;
  display: inline-block;
  line-height: 56px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .sub-header .header__navbar .header__links {
    padding: 0;
  }
}
.sub-header .header__navbar .header__links li {
  display: inline-block;
  padding: 0;
  margin-left: 20px;
  color: #19191C;
}
@media only screen and (max-width: 600px) {
  .sub-header .header__navbar .header__links li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .sub-header .header__navbar .header__links li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.first-page {
  min-height: min(100vh + 50px, 700px);
  box-sizing: border-box;
  font-size: 1.75em;
  text-align: center;
  color: #19191C;
  margin-top: -56px;
  position: relative;
}
.first-page .first-page__background {
  position: absolute;
  width: 99vw;
  height: 1000px;
  overflow: hidden;
}
.first-page .first-page__background .beam {
  position: absolute;
  left: 60%;
  top: 200px;
  width: 1200px;
  height: 800px;
  transform: scale(1.5);
  margin-left: -600px;
  z-index: 10;
  pointer-events: none;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__background .beam {
    top: 151px;
    transform: scale(1.2);
    z-index: -1;
  }
}
.first-page .first-page__inner {
  display: grid;
  justify-items: center;
  padding-top: 220px;
  max-width: 924px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__inner {
    padding-top: 240px;
    padding-left: 25px;
  }
}
.first-page .first-page__inner .title-box {
  width: 120px;
  height: 120px;
  background-color: #000;
  position: absolute;
  box-sizing: border-box;
  bottom: -175px;
  left: -85px;
  padding: 10px 10px 0 10px;
  display: grid;
  align-items: flex-end;
  font-size: 9px;
  font-weight: 500;
  color: white;
}
.first-page .first-page__inner .title-box h2 {
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__inner .title-box {
    left: 15px;
    bottom: -225px;
  }
}
.first-page .first-page__title {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.first-page .first-page__title .title__beta-tag {
  font-size: 18px;
  font-weight: 400;
  padding: 7px;
  border-radius: 10px;
  border: solid 1px #000;
  letter-spacing: 0;
  color: #000;
  position: absolute;
  margin-left: 445px;
  margin-top: -10px;
}
.first-page .first-page__title span {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 2.1em;
  line-height: 1;
  letter-spacing: -4px;
}
.first-page .first-page__title .logo {
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__title {
    font-size: 8vw;
    letter-spacing: -1px;
    margin-bottom: 10px;
    grid-column-gap: 10px;
  }
  .first-page .first-page__title span {
    letter-spacing: -3px;
  }
  .first-page .first-page__title .title__beta-tag {
    font-size: 15px;
    margin-left: 220px;
    margin-top: -25px;
    padding: 5px;
  }
  .first-page .first-page__title .logo svg {
    margin-top: -10px;
    width: 50px;
  }
}
.first-page .first-page__description {
  margin: 0;
  line-height: 1.4;
  font-weight: 300;
  font-size: 36px;
}
.first-page .first-page__description .server-name .chapter__code-block__inline {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__description {
    font-size: 6vw;
  }
}
.first-page .first-page__download-block {
  margin-top: 35px;
  display: grid;
  grid-template-rows: max-content max-content;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__download-block {
    margin-top: 25px;
  }
}
.first-page .first-page__download-block a {
  display: block;
  width: max-content;
  justify-self: center;
}
.first-page .first-page__download-button {
  color: #fff;
  display: inline-block;
  line-height: 48px;
  height: 48px;
  font-size: 13pt;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 50px;
  border-radius: 24px;
  margin-bottom: 20px;
  transition: all 0.2s;
}
@media only screen and (max-width: 800px) {
  .first-page .first-page__download-button {
    padding: 0 30px;
    font-size: 11pt;
  }
}
.first-page .first-page__download-button:hover {
  background-color: rgba(59, 62, 67, 0.7);
}
.first-page .first-page__source-link {
  color: #fff;
  font-size: 9pt;
  text-transform: uppercase;
}
.first-page .first-page__source-link:hover {
  border-bottom: solid 1px #fff;
}

.chapter {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .chapter {
    min-height: 0;
    padding-bottom: 0;
    padding-top: 30px;
  }
}
.chapter.dark {
  background-color: var(--dark-background);
  color: #fff;
}
.chapter.dark .chapter__text {
  color: #adadaf;
}
.chapter.dark .chapter__external-link {
  color: #4CA6FF;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234CA6FF'%3E%3Cpath d='M14 2H5.75l3.595 3.595L2.22 12.72l1.06 1.06 7.125-7.125L14 10.25V2z'/%3E%3C/svg%3E");
}
.chapter.dark .chapter__external-link:hover {
  border-bottom: 1px solid #4CA6FF;
}
.chapter.dark .chapter__title-description {
  color: #B8BCBE;
}
.chapter.dark .chapter__code-block__inline {
  background-color: #313336;
}
.chapter.dark .chapter__action__inline {
  background-color: #313336;
}
.chapter.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.chapter.no-top-padding {
  padding-top: 0;
}
.chapter.no-bottom-padding {
  padding-bottom: 0;
}
.chapter.light {
  background-color: #ffffff;
  color: #19191C;
}
.chapter.light.second-page {
  background-color: #F4F4F4;
}
.chapter.light .chapter__text {
  color: #19191C;
}
.chapter.purple {
  background-color: #6059f7;
  color: #fff;
}
.chapter .chapter_inner {
  max-width: min(var(--max-width), 100vw);
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
@media only screen and (max-width: 800px) {
  .chapter .chapter_inner {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.chapter .chapter__text-col.top-20 {
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  .chapter .chapter__text-col.top-20 {
    margin-top: 0;
  }
}
.chapter .chapter__title-description {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 19px;
  font-family: "JetBrainsSans", sans-serif;
  font-weight: 300;
}
.chapter .chapter__big-title {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 40px;
}
.chapter .chapter__big-title.chapter__big-title--bold {
  font-weight: 700;
}
.chapter .chapter__big-title.with-icon {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.chapter .chapter__big-title.with-icon svg {
  margin-top: 4px;
}
@media only screen and (max-width: 800px) {
  .chapter .chapter__big-title.with-icon {
    grid-template-columns: auto;
    justify-items: center;
    font-size: 30px;
  }
  .chapter .chapter__big-title.with-icon svg {
    display: none;
  }
}
.chapter .chapter__middle-big-title {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 40px;
}
.chapter .chapter__middle-big-title.chapter__big-title--bold {
  font-weight: 700;
}
.chapter .chapter__medium-title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.3;
  margin-top: 60px;
  margin-bottom: 40px;
}
.chapter .chapter__small-title {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.4;
}
.chapter .chapter__tiny_title {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.2;
}
.chapter .chapter__text {
  font-family: "JetBrainsSans", sans-serif;
  font-weight: 350;
  font-size: 19px;
  color: #adadaf;
  line-height: 28px;
  margin-bottom: 50px;
}
.chapter .chapter__text.padding-top-20 {
  padding-top: 20px;
}
.chapter .chapter__text.margin-bottom-30 {
  margin-bottom: 35px;
}
.chapter .chapter__text.width-500 {
  max-width: 500px;
}
.chapter .chapter__text.big-text {
  font-size: 29px;
  font-weight: 300;
  line-height: 1.3;
}
@media only screen and (max-width: 800px) {
  .chapter .chapter__text {
    margin-bottom: 0;
  }
}
.chapter .chapter__filename {
  font-family: monospace;
  font-weight: 600;
}
.chapter .chapter__menupath {
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.chapter .chapter__code-block {
  background-color: #f5f5f5;
  padding: 24px;
  margin-bottom: 25px;
  border-radius: 8px;
  display: block;
  white-space: pre-wrap;
}
.chapter .chapter__code-block:not(#chapter__code-block_active) {
  display: none;
}
.chapter .chapter__code-block__inline {
  background-color: #E8E9E8;
  padding: 3px 6px;
  border-radius: 0.25em;
}
.chapter .chapter__action__inline {
  background-color: #E8E9E8;
  padding: 3px 6px 2px;
  border-radius: 0.25em;
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif !important;
}
.chapter .chapter__external-link {
  padding-right: 16px;
  color: #167DFF;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23167DFF'%3E%3Cpath d='M14 2H5.75l3.595 3.595L2.22 12.72l1.06 1.06 7.125-7.125L14 10.25V2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% calc(100% - 1px);
}
.chapter .chapter__external-link:hover {
  border-bottom: 1px solid #167DFF;
}
.chapter .donate {
  color: #fff;
  line-height: 48px;
  height: 48px;
  font-size: 13pt;
  font-weight: 400;
  background: #0b88f3;
  padding: 15px 30px;
  border-radius: 24px;
  border: none;
  margin-bottom: 20px;
}
.chapter .donate:hover {
  cursor: pointer;
  background: #0b7bdc;
}

.tabs {
  margin-bottom: 30px;
}
.tabs ul {
  padding-left: 0;
}
.tabs ul li {
  display: inline;
  cursor: pointer;
  font-size: 16px;
  color: #5e5e5e;
  padding-bottom: 5px;
  border-bottom: 1px solid #5e5e5e;
}
.tabs ul li:not(#tabs__active):hover {
  color: #18191c;
  border-bottom: 1px solid #18191c;
}
.tabs ul li:not(:first-child) {
  margin-left: 24px;
}
.tabs #tabs__active {
  color: #167DFF;
  border-bottom: 2px solid #167DFF;
}

.chapter.two-column-layout.reversed .chapter_inner {
  grid-template-columns: 70% 30%;
}
@media only screen and (max-width: 800px) {
  .chapter.two-column-layout.reversed .chapter_inner {
    grid-template-columns: 1fr;
  }
}

.chapter.two-column-layout .chapter_inner {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 40px;
  padding: 40px 50px 40px 50px;
}
.chapter.two-column-layout .chapter_inner.second-page {
  grid-column-gap: 0;
  padding-top: 0;
}
.chapter.two-column-layout .chapter_inner.second-page .chapter__image-col img {
  height: 700px;
}
@media only screen and (max-width: 800px) {
  .chapter.two-column-layout .chapter_inner {
    grid-template-columns: 1fr;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
  }
}
.chapter.two-column-layout .chapter_inner .chapter__image-col {
  margin-top: -20px;
  z-index: 11;
}
@media only screen and (max-width: 800px) {
  .chapter.two-column-layout .chapter_inner .chapter__image-col {
    display: none;
  }
}
.chapter.two-column-layout .chapter_inner .chapter__image-col img {
  width: 100%;
}
.chapter.two-column-layout .chapter_inner .chapter__image-col img.full-height {
  width: unset;
  height: 700px;
}
.chapter.two-column-layout .chapter_inner .chapter__image-col.with-big-title {
  margin-top: -20px;
}

.chapter.three-row-layout .chapter_inner {
  display: grid;
}
.chapter.three-row-layout .chapter_inner .chapter__image-col {
  margin-top: -20px;
  z-index: 11;
}
.chapter.three-row-layout .chapter_inner .chapter__image-col img {
  height: 802px;
}

.chapter.three-row-layout .chapter__header-row {
  width: 100%;
  display: grid;
}
.chapter.three-row-layout .chapter__header-row .chapter__middle-title {
  justify-self: center;
  margin-top: 20px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1px;
}
.chapter.three-row-layout .chapter__header-row .chapter__header-text {
  justify-self: center;
  text-align: center;
  width: 53%;
  font-size: 18px;
  color: rgba(25, 25, 28, 0.6980392157);
}
@media only screen and (max-width: 800px) {
  .chapter.three-row-layout .chapter__header-row .chapter__header-text {
    justify-self: left;
    text-align: left;
    width: 100%;
  }
}
.chapter.three-row-layout .chapter__image-row {
  width: 100%;
}
.chapter.three-row-layout .chapter__image-row img {
  width: 106.65%;
  margin-left: -3.325%;
}
@media only screen and (max-width: 800px) {
  .chapter.three-row-layout .chapter__image-row img {
    display: none;
  }
}
.chapter.three-row-layout .chapter__description-row {
  width: 100%;
}

.chapter.titled-block-layout .chapter__big-title {
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .chapter.titled-block-layout .chapter__big-title {
    margin-top: 0;
  }
}
.chapter.titled-block-text-layout .chapter__big-title {
  margin-top: 70px;
}
.chapter.titled-block-text-layout .chapter__block {
  margin-bottom: 70px;
}

.chapter.banner .chapter_inner {
  padding-top: 35px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  .chapter.banner .chapter_inner {
    padding-bottom: 45px;
  }
}

.chapter__two-column-block {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 100px;
  align-items: center;
  padding-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .chapter__two-column-block {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
}
.chapter__two-column-block .chapter__two-column-block__text-col .chapter__text {
  margin-bottom: 10px;
}
.chapter__two-column-block .chapter__two-column-block__image-col {
  justify-content: start;
  margin-left: 0;
}
@media only screen and (max-width: 800px) {
  .chapter__two-column-block .chapter__two-column-block__image-col {
    display: none;
  }
}
.chapter__two-column-block .chapter__two-column-block__image-col.with-border img {
  border: 1px solid #717374;
  border-radius: 6px;
}
.chapter__two-column-block .chapter__two-column-block__image-col.with-shadow img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.chapter__two-column-block .chapter__two-column-block__image-col img {
  max-width: 100%;
}
.chapter__two-column-block.reverse {
  grid-template-columns: 4fr 2fr;
}
@media only screen and (max-width: 800px) {
  .chapter__two-column-block.reverse {
    grid-template-columns: 1fr;
  }
}

.chapter__line-block {
  width: 100%;
  padding: 30px 40px;
  margin: 50px 0;
  display: grid;
  grid-template-columns: auto 324px;
  grid-column-gap: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
}
@media only screen and (max-width: 800px) {
  .chapter__line-block {
    grid-template-columns: auto;
    grid-column-gap: 0;
    grid-row-gap: 30px;
    padding: 30px 25px;
    margin: 50px 0 20px;
  }
}
.chapter__line-block .chapter__text {
  margin: 0;
  font-size: 18px;
  color: rgba(25, 25, 28, 0.6980392157) !important;
}
.chapter__line-block .chapter__text-image-block-image {
  align-self: end;
  margin-bottom: -36px;
}
.chapter__line-block .chapter__text-image-block-image img {
  width: 100%;
}

.chapter__three-block-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
  .chapter__three-block-row {
    grid-template-columns: 1fr;
  }
}
.chapter__three-block-row.chapter__three-block-row--with-header .chapter__middle-big-title {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  .chapter__three-block-row.chapter__three-block-row--with-header .chapter__middle-big-title {
    grid-column-end: 1;
  }
}

.chapter__two-block-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 800px) {
  .chapter__two-block-row {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    grid-row-gap: 0;
  }
}
.chapter__two-block-row.chapter__two-block-row--with-header {
  grid-row-gap: 0;
}
.chapter__two-block-row.chapter__two-block-row--with-header .chapter__middle-big-title {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  .chapter__two-block-row.chapter__two-block-row--with-header .chapter__middle-big-title {
    grid-column-end: 1;
  }
}

.chapter__one-block-row {
  width: 60%;
  display: grid;
  margin-bottom: 80px;
}
@media only screen and (max-width: 800px) {
  .chapter__one-block-row {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    grid-row-gap: 0;
  }
}
.chapter__one-block-row.chapter__one-block-row--with-header .chapter__middle-big-title {
  margin-top: 50px;
}

.chapter__text-image-block {
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
}
@media only screen and (max-width: 800px) {
  .chapter__text-image-block {
    margin-bottom: 30px;
  }
}
.chapter__text-image-block .chapter__text-image-block-text .chapter__text {
  margin-top: 15px;
  margin-bottom: 25px;
}
.chapter__text-image-block .chapter__text-image-block-image {
  align-self: end;
  overflow: hidden;
}
.chapter__text-image-block .chapter__text-image-block-image.height-150px {
  height: 150px;
}
.chapter__text-image-block .chapter__text-image-block-image img {
  max-width: 100%;
}

.chapter__faq-block {
  width: 50%;
  margin-bottom: 70px;
}
@media only screen and (max-width: 800px) {
  .chapter__faq-block {
    width: 100%;
  }
}
.chapter__faq-block .chapter__faq-text {
  line-height: 1.7;
}

.chapter__install-block {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .chapter__install-block {
    width: 100%;
  }
}
.chapter__install-block .chapter__text-image-block {
  margin-bottom: 40px;
}
.chapter__install-block .chapter__small-title {
  line-height: 1.6;
}
.chapter__install-block .chapter__text-image-block-image img {
  width: 575px;
}

.chapter__version-block {
  width: 70%;
  margin-bottom: 70px;
}
@media only screen and (max-width: 800px) {
  .chapter__version-block {
    width: 100%;
  }
}
.chapter__version-block .chapter__big-title {
  margin-bottom: 20px;
}
.chapter__version-block time {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  display: block;
}
.chapter__version-block .chapter__version-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 50px;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature__title {
  margin-top: 50px;
  font-size: 30px;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature__small-title {
  margin-top: 0;
  font-size: 23px;
}
.chapter__version-block .chapter__version-block-new h3 {
  font-size: 26px;
}
.chapter__version-block .chapter__version-block-new ul {
  padding-left: 30px;
}
.chapter__version-block .chapter__version-block-new ul li {
  padding-left: 10px;
  font-family: "JetBrainsSans";
  font-weight: 300;
  padding-top: 10px;
  line-height: 1.6;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column {
  width: 140%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column.default-width {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column {
    width: 100%;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    margin-top: 40px;
  }
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column .chapter__text {
  margin-top: 0;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column-narrow {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
}
@media only screen and (max-width: 800px) {
  .chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column-narrow {
    width: 100%;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner.chapter__version-block-new-feature__inner--two-column-narrow .chapter__text {
  margin-top: 0;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner .chapter__version-block-new-feature__video {
  width: 850px;
}
@media only screen and (max-width: 800px) {
  .chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner .chapter__version-block-new-feature__video {
    width: 100%;
  }
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner .chapter__version-block-new-feature__image {
  width: 850px;
}
@media only screen and (max-width: 800px) {
  .chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__version-block-new-feature__inner .chapter__version-block-new-feature__image {
    width: 100%;
  }
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__text-image-block-image img {
  width: 100%;
}
.chapter__version-block .chapter__version-block-new .chapter__version-block-new-feature .chapter__text-image-block-image video {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
